body {
    background-color: rgba(226,226,226,1);
}

#tblBoard {
    border-radius: 6px;
    border: 1px solid #fefafa;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

td {
    text-align: center;
    width: 20px;
    padding: 20px;
    border: 1px solid #fefafa;
    cursor: pointer;
    background-color: #D2B9BF;
    font-family: fantasy;
    border-radius: 4px;
}

.touchingCells {
    /*background-color: #f9f0f0;*/
    cursor: pointer;
    /*transform: rotate(-15deg);*/
    /*transition: transform 0.3s ease-in-out;*/

}

.empty {
    background-color: #fefafa;
}
